@model Autoflex.Models.RawMaterials.RawMaterial

<h2>Criar Matéria-prima</h2>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="Name">Nome</label>
        <input asp-for="Name" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="StockQuantity">Quantidade em Estoque</label>
        <input asp-for="StockQuantity" class="form-control" />
    </div>
    <button type="submit" class="btn btn-success mt-2">Salvar</button>
    <a asp-action="Index" class="btn btn-secondary mt-2">Voltar</a>
</form>